<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="bgColor">
    <%- include ../menu.ejs -%>

    <div class="sub_navbar">
      <ul class="sub_nav">
        <div class="section">
          <li>
            <a href="/movies">All Movies</a>
          </li>
          <li>
            <b>Add Movie</b> 
          </li>
        </div>
        
      </ul>
    </div>

  <div class="content">
    <h3>Edit Movie: <%= movie.name %></h3>
    <div class="container col-sm-12">
      <form action="/movies/update" method="POST" class="editForm">
        <div><input type="hidden" name="id" value=<%= movie._id %>></div>

        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control col-md-6" id="name" placeholder="Enter name" name="name" value=<%= movie.name %>>
        </div>
        <div class="form-group">
          <label for="genres">Genres:</label>
          <input type="text" class="form-control col-md-6" id="genres" placeholder="Enter genres" name="genres" value=<%= movie.genres %>>
        </div>
        <div class="form-group">
          <label for="imageUrl">Image url:</label>
          <input type="text" class="form-control col-md-6" id="imageUrl" placeholder="Enter image url" name="imageUrl" value=<%= movie.image.medium %>>
        </div>
        <div class="form-group">
          <label for="premiered">Premiered:</label>
          <input type="date" required class="form-control col-md-6" id="premiered" placeholder="Enter premierd" name="premiered" value=<%= movie.premiered %>>  
        </div>
        
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/movies">
          <button type="button" class="btn btn-primary">Cancel</button>
        </a>
      </form>
      
    </div>
  </div>


  </body>
</html>
