<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   
  </head>
  <body class="bgColor">
    
    <%- include ../menu.ejs -%>
    
    <div class="container-fluid">
      <div class="row section">
        <div class="col-md-4">
          <div class="allTitle">
            <b>all movies</b>
          </div>

          <a href="/movies/new">Add Movie</a>
        </div>
        <div class="col-md-6 find">
          <form action="/movies/search" method="POST" class="search">
            <div class="form-group mb-2 searchText">
              <label for="search" class="sr-only">Find Movie</label>
              <input type="text" class="form-control" id="search" name="search" placeholder="Find Movie">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Find</button>
          </form>
        </div>
        
      </div>
    </div>

    <div class="content">
      <h1><%= title %></h1>
    
      <B class="msg">
        <%= msg %>
      </B>

      <% moviesSubscribed.forEach(ms =>{ %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= ms.movieName %>, <%= (new Date(ms.moviePremiered)).toLocaleDateString('en-GB') %></h5>
          <p class="card-text">genres: <%= ms.movieGenres %></p>
          <div class="card-text">
            <div>
              <img src="<%= ms.movieImage %>" style="width:5rem"/>
            </div>
            <div class="watched">
              <h5 > Subscriptions Watched</h5>
              <div>
                <ul>
                  <% ms.subscriberToMovie.forEach(stm =>{ %>
                    <li><a href="/subscriptions/<%= stm.memberId %>"><%= stm.memberName %></a></li>
                  <% })  %>
                </ul>
              </div>
            </div>
          </div>

          <button class="btn btn-primary">
            <a href="/movies/edit/<%= ms.movieId %>">Edit</a>
          </button>
          <button class="btn btn-primary">
            <a href="/movies/delete/<%= ms.movieId %>">Delete</a>
          </button>
          
        </div>
      </div>
      <% }) %>
    </div>

  </body>
</html>