<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% console.log("before css") %>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include ../menu.ejs -%>

    <%= msg %>
    <b>all movies</b> &nbsp;
    
    <a href="/movies/new">Add Movie</a>
    

    <% movies.forEach(movie =>{ %>
      <div class="card" style="width: 28rem;">
        <div class="card-body">
<% let d1 = movie.premiered 
console.log(d1)
let d2 = new Date(movie.premiered )
console.log(d2)
let d3 = d2.toLocaleDateString('en-GB')
console.log(d3)
let d4 = d2.toLocaleDateString('en-us')
console.log(d4)
%>


          <h5 class="card-title"><%= movie.name %>, <%= (new Date(movie.premiered)).toLocaleDateString('en-GB') %></h5>
          <p class="card-text">genres: <%= movie.genres %></p>
          <div class="card-text">
            <img src="<%= movie.image.medium %>" style="width:5rem"/>
            <div > subscriptions</div>
          </div>
          
          <a href="/movies/edit/<%= movie._id %>" class="btn btn-primary">Edit</a>
          
          <a href="/movies/delete/<%= movie._id %>" class="btn btn-primary">Delete</a>
          
        </div>
      </div>
    <% }) %>

  </body>
</html>