<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% console.log("before css") %>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include ../menu.ejs -%>
    
    <div class="msg">
    <%= msg %>
  </div>
  
    <b>all movies</b> &nbsp;
    
    <a href="/movies/new">Add Movie</a>
    

    <% moviesSubscribed.forEach(ms =>{ %>
      <div class="card" style="width: 28rem;">
        <div class="card-body">
          <h5 class="card-title"><%= ms.movieName %>, <%= (new Date(ms.moviePremiered)).toLocaleDateString('en-GB') %></h5>
          <p class="card-text">genres: <%= ms.movieGenres %></p>
          <div class="card-text">
            <img src="<%= ms.movieImage %>" style="width:5rem"/>
            <h5 > Subscriptions Watched</h5>
            <div>
              <ul>
                <% ms.subscriberToMovie.forEach(stm =>{ %>
                  <li><a href="/subscriptions/<%= stm.memberId %>"><%= stm.memberName %></a></li>
                <% })  %>
              </ul>
            </div>
          </div>
          
          <a href="/movies/edit/<%= ms.movieId %>" class="btn btn-primary">Edit</a>
          
          <a href="/movies/delete/<%= ms.movieId %>" class="btn btn-primary">Delete</a>
          
        </div>
      </div>
    <% }) %>

  </body>
</html>