<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- for bootstrap -->
    ​<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </head>
  <body>
    
    <h1><%= title %></h1>
    <%- include ../menu.ejs -%>

    <div>
      <a href="/movies">All Movies</a>&nbsp;
      <a href="/movies/new">Add Movie</a>
    </div>

    <b>Movie: <%= movie.name %></b>

      <div class="card" style="width: 28rem;">
        <div class="card-body">
          <p class="card-text">Name: <%= movie.name %></p>
          <p class="card-text">Genres: <%= movie.genres %></p>
          <p class="card-text">Image url: <%= movie.image.medium %></p>
          <p class="card-text">Premiered: <%= (new Date(movie.premiered)).toLocaleDateString('en-Gb') %></p>
        </div>
      </div>
  </body>
</html>
