<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body class="bgColor">
    <%- include ../menu.ejs -%>

    <div class="container-fluid">
      <div class="row section">
        <div class="col-md-4">
          <div class="allTitle">
            <a href="/users">All Members</a>
          </div>

          <b>Add Member</b> 
        </div>
        
      </div>
    </div>

    <div class="content">
      <h3>Edit Member: <%= member.name %></h3>
      <div class="container col-sm-12">
        
        <form action="/subscriptions/update" method="POST" class="editForm">
          <div><input type="hidden" name="id" value=<%= member._id %>></div>

          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control col-md-6" id="name" name="name" value="<%= member.name %>">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control col-md-6" id="email" name="email" value="<%= member.email %>">
          </div>
          <div class="form-group">
            <label for="city">City:</label>
            <input type="text" class="form-control col-md-6" id="city" name="city" value="<%= member.city %>">
          </div>

          <button type="submit" class="btn btn-primary">Save</button>
          
          <a href="/subscriptions">
            <button type="button" class="btn btn-primary">Cancel</button>
          </a>
          
        </form>

    </div>
  </div>


  </body>
</html>
