<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <script>
        let isHide = true;
        function subscribeToMovie(id){
          isHide = !isHide;

          if(isHide){
            $("#hide_"+id).hide();
          }
          else{
            $("#hide_"+id).show();
          }
        }

        

    </script>
  </head>
  <body class="bgColor">
    <%- include ../menu.ejs -%>

    <div class="container-fluid">
      <div class="row section">
        <div class="col-md-4">
          <div class="mr-5 d-inline">
            <b>all Member</b>
          </div>

          <a href="/subscriptions/new">Add Memeber</a>
        </div>
        
      </div>
    </div>

    <div class="content">

      <h1><%= title %></h1>
      
      <% subscriptionsMovies.forEach(sm =>{ %>
        <div class="card">
          <div class="card-body row">
            <div class="mb-3 col-md-4">
              <input type="hidden" name="memberId" value="<%= sm.id  %>">
              <h5 class="card-title"><%= sm.name %></h5>
              <p class="d-flex mb-3">Email: <%= sm.email %></p>
              <p class="d-flex mb-3">City: <%= sm.city %></p>

              <button class="btn btn-primary">
                <a href="/subscriptions/edit/<%= sm.id %>">Edit</a>
              </button>
              <button class="btn btn-primary">
                <a href="/subscriptions/delete/<%= sm.id %>">Delete</a>
              </button>
            </div>
            <div class="d-flex mb-3 movieWatched col-md-8">
              <h6>Movie Watched</h6>
              <button class="btn btn-primary btn-sm subscribeMovie" onclick=subscribeToMovie("<%= sm.id  %>")>Subscribe to new movie</button>
              <div class="hide" id="hide_<%= sm.id %>">
                  <form action="/subscriptions/subscribe" method="POST">
                    <div>Add a new movie</div>
                   <input type="hidden" name="memberId" value="<%= sm.id %>"/>

                    <div>
                      <div class="d-inline-block mb-2">
                        <select class="unwatch" name="unwatch" id="unwatch">
                          <% sm.unwatched.forEach(uw =>{ %>
                            <option value="<%= uw._id %>"><%= uw.name %></option>

                          <% })  %>
                        </select>
                      </div>
                      <div class="d-inline-block mb-2">
                        <input type="date" name="watchedDate">
                      </div>
                      <div class="d-inline-block mb-2">
                        <button type="submit" class="btn btn-primary btn-sm mb-1">Subscribe</button>
                      </div>
                    </div>
                  </form>
              </div>
              <div class="mt-2">
                <ul>
                  <% sm.movies.forEach(m =>{ %>
                    <li class="subscriberMovie"><a href="/movies/<%= m.movieId %>"><%= m.movieName %></a>, <%= (new Date(m.watchDate)).toLocaleDateString('en-Gb') %></li>

                  <% }) %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
  </body>
</html>
