<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script>
        let isHide = true;
        function subscribeToMovie(){
          isHide = !isHide;

          if(isHide){
            $(".hide").hide();
          }
          else{
            $(".hide").show();
          }
        }

        

    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%- include ../menu.ejs -%>

    <b>All Member</b>

    <a href="/subscriptions/new">Add Memeber</a>

    <% members.forEach(member =>{ %>
      <div class="card" style="width: 28rem;">
        <div class="card-body">
          <h5 class="card-title"><%= member.name %></h5>
          <p class="card-text">Email: <%= member.email %></p>
          <p class="card-text">City: <%= member.city %></p>

          <a href="/subscriptions/edit/<%= member._id %>" class="btn btn-primary">Edit</a>
          <a href="/subscriptions/delete/<%= member._id %>" class="btn btn-primary">Delete</a>

          <div class="card-text">
            <h5> Movie Watched</h5>

            <button onclick=subscribeToMovie()>Subscribe to new movie</button>
            <div class="hide">
                <form>
                  <h6>Add a new movie</h6>
                </form>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
  </body>
</html>
