<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <script>
        let isHide = true;
        function subscribeToMovie(id){
          isHide = !isHide;

          if(isHide){
            $("#hide_"+id).hide();
          }
          else{
            $("#hide_"+id).show();
          }
        }

        

    </script>
  </head>
  <body class="bgColor">
    <%- include ../menu.ejs -%>

    <div class="sub_navbar">
      <ul class="sub_nav">
        <div class="section">
          <li>
            <b>all Member</b>
          </li>
          <li>
            <a href="/subscriptions/new">Add Memeber</a>
          </li>
        </div>
        
      </ul>
    </div>

    <div class="content">

      <h1><%= title %></h1>
      
      <% subscriptionsMovies.forEach(sm =>{ %>
        <div class="card">
          <div class="card-body subscription">
            <div class="member">
              <input type="hidden" name="memberId" value="<%= sm.id  %>">
              <h5 class="card-title"><%= sm.name %></h5>
              <p class="card-text">Email: <%= sm.email %></p>
              <p class="card-text">City: <%= sm.city %></p>

              <button class="btn btn-primary">
                <a href="/subscriptions/edit/<%= sm.id %>">Edit</a>
              </button>
              <button class="btn btn-primary">
                <a href="/subscriptions/delete/<%= sm.id %>">Delete</a>
              </button>
            </div>
            <div class="card-text movieWatched">
              <h5> Movie Watched</h5>
              <button class="btn btn-primary btn-sm subscribeMovie" onclick=subscribeToMovie("<%= sm.id  %>")>Subscribe to new movie</button>
              <div class="hide" id="hide_<%= sm.id %>">
                  <form action="/subscriptions/subscribe" method="POST">
                    <h6>Add a new movie</h6>
                  <input type="hidden" name="memberId" value="<%= sm.id %>"/>
                  <select name="unwatch" id="unwatch">
                    <% sm.unwatched.forEach(uw =>{ %>
                      <option value="<%= uw._id %>"><%= uw.name %></option>

                    <% })  %>
                  </select>

                  <input type="date" name="watchedDate">

                  <button type="submit" class="btn btn-primary btn-sm subscribe">Subscribe</button>

                  </form>
              </div>
              <div class="subscribers">
                <ul>
                  <% sm.movies.forEach(m =>{ %>
                    <li><a href="/movies/<%= m.movieId %>"><%= m.movieName %></a>, <%= (new Date(m.watchDate)).toLocaleDateString('en-Gb') %></li>

                  <% }) %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
  </body>
</html>
