<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
  </head>
  <body class="bgColor">
    <%- include ../menu.ejs -%>

    <div class="container-fluid">
      <div class="row section">
        <div class="col-md-4">
          <div class="allTitle">
            <b>all Users</b>
          </div>

          <a href="/users/new">Add User</a>
        </div>
        
      </div>
    </div>

    <div class="content">
      <h1><%= title %></h1>

      <% users.forEach(user => { %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Name: <%= user.firstName %> <%= user.lastName %></h5>
            <p class="card-text">User Name: <%= user.username %></p>
            <p class="card-text">Session Time Out: <%= user.sessionTimeOut %></p>
            <p class="card-text">Created Date: <%= user.createdDate %></p>
            <p class="card-text">Permissions: <%= user.permissions %></p>
            <button class="btn btn-primary">
              <a href="/users/edit/<%= user.id %>">Edit</a>
            </button>
            <button class="btn btn-primary">
              <a href="/users/delete/<%= user.id %>">Delete</a>
            </button>
          </div>
        </div>
      <% })%>
  </div>

  </body>
</html>
